@charset "utf-8";
.bg
{
	height:2400px;
	width:1800px;
	background-color:#f2f2f2;
}
.bordertext
{
	position:absolute;
	height:2200px;
	width:1600px;
	padding:100px;
	font-family:helvetica lt std;
	font-size:30px;
	font-weight:400;
	color:#101010;
	margin:auto;
}
.topleft
{
	position:inherit;
	left:0px;
	top:0px;
	padding:100px;
}
.topright
{
	position:inherit;
	right:0px;
	top:0px;
	padding:100px;
}
.bottomleft
{
	position:inherit;
	left:0px;
	bottom:0px;
	padding:100px;
}
.bottomright
{
	position:inherit;
	right:0px;
	bottom:0px;
	padding:100px;
}
.maintext
{
	position:absolute;
	top:-80px;
	font-family: helvetica lt std;
	font-weight:600;
	font-size:360px;
	color:#101010;
}