@charset "utf-8";
.bg{
	height:2400px;
	width:1800px;
	background-color:#05301a;
}
.textbox{
	height:650px;
	width:1750px;
	padding:25px;
	position:absolute;
	top:60px;
}
.overlap{
	position:relative;
	top:-180px;
}
.circles{
	height:1200px;
	width:1200px;
	position:relative;
	top:900px;
	margin:auto;
}